    body {
        margin: 0;
        padding: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    .home .name p {
        text-align: center;
        font-size: large;
        width: 100%;
        justify-content: center;
    }
    
    .description {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .description .imagediv {
        height: auto;
        padding: 10px;
    }
    
    .description .descriptiondiv {
        margin-top: 10px;
        text-overflow: initial;
        text-align: justify;
        padding: 10px;
    }
    
    .name #myname {
        color: crimson;
        font: optional;
        font-size: larger;
    }
    
    .home .xyz {
        color: black;
    }
    /* using the Dom css style 5.2 */
    
    .homies {
        background-color: yellow;
    }
    /* using the dom action event listener */